/* adding css from  sass pre-compiler*/
@import "../assets/assets";
@import "../assets/grid";


@mixin button {
  font-family: 'Raleway', sans-serif;
  background-color: $darkGrey;
  border: 2px solid $yellow;
  font-size: 24px;
  padding: 10px 20px;
  color: $lightGrey;
};

body {
    background-color:#201f20;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-top: 60px;
    padding-bottom: 30px;
}

#PlayerTitle {
  display: block;
  text-align: center;
}

.tester {
  width: 230px;
  display: inline-block;
}

#output {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.score {
    background-color: $lightGrey;
    margin: 0;
  
    p {
      color: $darkGrey;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      text-align: center;
    }
  
    .text {
      font-size: 24px;
      padding-bottom: 30px;
    }
  
    .number {
      font-size: 60px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  } 

  .footer {
    padding-top: 60px;
    padding-bottom: 80px;
  
    p {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-size: 24px;
      padding-bottom: 16px;
      color: $lightGrey;
      margin-left: 60px;
    }
  
    a {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $lightGrey;
      padding-left: 60px;
    }
  
    a:hover {
      text-decoration: underline;
      color: $yellow;
    }
  } 




