/* adding css from  sass pre-compiler*/

@import "../assets/assets";
@import "../assets/grid";

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color:#201f20;
    margin-left: 35px;
    margin-right: 35px;
  }

h2 {
    color: white;
}

.cardImage {
  img {
    visibility: hidden;
  }
}

.score {
    background-color: $lightGrey;
    margin: 0;
  
    p {
      color: $darkGrey;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      text-align: center;
    }
  
    .text {
      font-size: 24px;
      padding-bottom: 30px;
    }
  
    .number {
      font-size: 60px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  } 

  .footer {
    padding-top: 60px;
    padding-bottom: 80px;
  
    p {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-size: 24px;
      padding-bottom: 16px;
      color: $lightGrey;
      margin-left: 60px;
    }
  
    a {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $lightGrey;
      padding-left: 60px;
    }
  
    a:hover {
      text-decoration: underline;
      color: $yellow;
    }
  } 



