/* adding css from  sass pre-compiler*/

@import "../assets/assets";
@import "../assets/grid";

body {
    background-color:#201f20;
    margin-left: 35px;
    margin-right: 35px;
    color: white;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    padding-top: 70px;
    padding-bottom: 30px;
}

h2 {
    color: white;
}

#buttons {
  height: 30px;
}

.cardPOne {
  width: 10px;
}

.cardCOne {
  width: 25px;
}

#output {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.score {
    background-color: $lightGrey;
    margin: 0;
  
    p {
      color: $darkGrey;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      text-align: center;
    }
  
    .text {
      font-size: 24px;
      padding-bottom: 30px;
    }
  
    .number {
      font-size: 60px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  } 

  .footer {
    padding-top: 60px;
    padding-bottom: 80px;
  
    p {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-size: 24px;
      padding-bottom: 16px;
      color: $lightGrey;
      margin-left: 60px;
    }
  
    a {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $lightGrey;
      padding-left: 60px;
    }
  
    a:hover {
      text-decoration: underline;
      color: $yellow;
    }
  } 



