@import "../assets/grid";
@import "../assets/assets";

body {
    background-color: $darkGrey;
    margin-left: 35px;
    margin-right: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 70px;
    padding-bottom: 30px;
}

.vs {
    padding-top: 150px;
    padding-left: 300px;
    padding-right: 250px;
}

.player-one {
    align-items: center;
}

.player-one img {
    width: 225px;
    height: 225px;
}

.player-two img {
    width: 225px;
    height: 225px;
}

.vs p {
    color: $lightGrey;
    font-size: 60px;
    padding-left: 60px;
}

.b-r {
    margin-left: 300px;
    margin-right: 20px;
}

.b-p {
    margin-right: 15px;
}

.b-l {
    margin-left: 335px;
    margin-right: 17px;
}

.buttons-user input {
    width: 60px;
    height: 60px;

}

.button-computer {
    width: 70px;
    height: 70px;
    margin-left: 130px;
}

.button-reset {
    margin-left: 123px;
    margin-top: 15px;
}

.button-reset input {
    background-color: $darkGrey;
    color: $lightGrey;
    border-color: $lightGrey;
    border: solid 1px;
    width: 100px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
}

.result {
    border-style: solid;
    border-color: $yellow;
    width: 500px;
    margin-left: 490px;
    margin-top: 40px;
    height: 220px;
    margin-bottom: 50px;
}

.result p {
    color: $lightGrey;
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: $lightGrey;
    font-style: italic;
    font-weight: 100;
}

.result p span {
    font-size: 40px;
    color: $yellow;
    font-family: 'Parisienne', cursive;
}

.score {
    background-color: $lightGrey;
    margin: 0;
    padding: 0;
  
    p {
      color: $darkGrey;
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      text-align: center;
    
    }
   .text {
      font-size: 24px;
      padding-bottom: 30px;
    }
  
    .number {
      font-size: 60px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

  }

.footer {
    padding-top: 60px;
    padding-bottom: 80px;
  
    p {
      font-family: 'Raleway', sans-serif;
      font-style: normal;
      font-size: 24px;
      padding-bottom: 16px;
      color: $lightGrey;
      margin-left: 60px;
    }
  
    a {
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      text-decoration: none;
      color: $lightGrey;
      padding-left: 60px;
    }
  
    a:hover {
      text-decoration: underline;
      color: $yellow;
    }
  } 